@using Common.Data.Models
@model Common.Data.ViewModels.LinkedUserListViewModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Welcome</title>
</head>
<body>
    <div>
        <img src="$CONTENTID$" width="180" />
    </div>
    <p>
        Hi @Model.Receiver.Name,
    </p>
    <p>
        Thanks for signing up to <a href="http://awesomesite.com">our awesome site</a>!
    </p>

    @if (!Model.Receiver.IsPremiumUser)
    {
        <p>
            To make the most of it, <a href="http://awesomesite.com/upgrade">upgrade to our premium package now</a>!
        </p>
    }

    <div>
        <table>
            <tr><th>Name</th><th>E-Mail</th><th>Primium User</th><th>Related Users</th></tr>
            @foreach (LinkedUserModel user in Model.RelatedUsers) {
                <tr><td>@user.Name</td><td>@user.Email</td><td>@user.GetIsPremiumUserText()</td><td>@user.GetLinkedUsersAsText()</td></tr>
            }
        </table>
    </div>

    <p>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.ffff")</p>
    <p>John, Founder</p>

</body>
</html>
